{
  "tabWidth": 2,
  "printWidth": 80,
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "endOfLine": "auto",
  "bracketSameLine": true,
  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "es5"
}
